@{
    ViewBag.Title = "Index";
}

<h1>List of functions : FunctionsNET :</h1>
<hr />

<h1>Functions</h1>
<ul>
    <li>
        <a href="@Url.Action("Thumbnail","Functions")">Thumbnail</a>
    </li>
    <li>
        <a href="@Url.Action("LCS","Functions")">Search LCS</a>
    </li>
</ul>
<hr />

<a href="@Url.Action("Index", "Extension")"><h1>Extension</h1></a>
<ul>
    <li>
        <a href="@Url.Action("StringSample","Extension")">URL Friendly</a>
    </li>
    <li>
        <a href="@Url.Action("ValidationEmail","Extension")">Validation Email</a>
    </li>
</ul>